.movie-tile-wrapper {
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 2%);
    color: rgba(0,0,0,.85);
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    line-height: 1.25;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.movie-tile-wrapper:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}
  
.movie-tile-wrapper:hover {
    transform: translateY(-1px);
}
  
.movie-tile-wrapper:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }