.movie-hunter-search-btn {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.25s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: initial;
  width: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 2%);
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.25;
  min-height: 1.5rem;
}

.movie-hunter-search-btn:hover, .movie-tile-wrapper:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.movie-hunter-search-btn:hover, .movie-tile-wrapper:hover {
  transform: translateY(-1px);
}

.movie-hunter-search-btn:active, .movie-tile-wrapper:active  {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
