.star-icon {
    font-size: 1rem!important;
}

.card-date-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-link-btns-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-link-btns {
    width: 30%;
    margin: 0!important;
}

.close-icon-wrapper {
    display: flex;
    justify-content: end;
}

.close-icon-action-wrapper {
    width: fit-content!important;
}