.movie-hunter-search-input {
    margin: 10px 0;
    padding: 5px;
}

.movie-hunter-search-input {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 2%);
    color: rgba(0,0,0,.85);
    line-height: 1.25;
    min-height: 1.5rem;
}